h1
{
    text-align: center;
    letter-spacing: 20px;
    color: #212529;
    padding-top: 30px;
    font-family: Monospace;  
}
h4
{
    text-align: center;
    color: #212529;
    padding-bottom: 20px;
    font-family: Monospace;  
}

input[type=text], [type=integer], [type=date]
{
    border: none;
    border: 1px solid #212529;
    margin: 5px;
    /* width: 300%; */
    /* padding: 1%; */
}

#menu
{
    background-color: white;
    border-color:#212529;
    margin:0.5%;
    width: 10%;
}
#menu:hover 
{
    background-color: #212529;
    color: white;
} 


.d-flex justify-content-center
{
    padding:30px;
    border: solid;
    border-color: #212529;
    border-width: 1px;
}

button
{
    background-color: white;
    border-color:#212529;
    margin:1%;
    width: 96%;
}
button:hover 
{
    background-color: #212529;
    color: white;
} 
::placeholder 
{
    color: #212529;
    
}
select
{
    height: 100%;
    margin:1%;
    width: 96%;
    color:#212529;
}
p
{
    margin-top: 5%;
    font-size: 30px;
    color:#212529;
    font-family: Monospace;   

}