h1
{
    text-align: center;
    letter-spacing: 20px;
    color: #212529;
    padding-top: 30px;
    font-family: Monospace;  
}
h4
{
    text-align: center;
    color: #212529;
    padding-bottom: 20px;
    font-family: Monospace;  
}

input[type=text], [type=integer], [type=date], [type="password"]
{
    border: none;
    border: 1px solid #212529;
    margin: 5px;
    /* width: 300%; */
    /* padding: 1%; */
}

#menu
{
    background-color: white;
    border-color:#212529;
    margin:0.5%;
    width: 10%;
}
#menu:hover 
{
    background-color: #212529;
    color: white;
} 


.d-flex justify-content-center
{
    padding:30px;
    border: solid;
    border-color: #212529;
    border-width: 1px;
}

button
{
    background-color: white;
    border-color:#212529;
    margin:1%;
    width: 96%;
}
button:hover 
{
    background-color: #212529;
    color: white;
} 
::placeholder 
{
    color: #212529;
    
}
select
{
    height: 100%;
    margin:1%;
    width: 96%;
    color:#212529;
}
#hometext
{
    font-size: 30px;
    color:#212529;
    font-family: Monospace;   
    margin-top:4%

}
p
{
    text-align: center; 
    justify-content: center;
    font-size: 23px;
    font-family: Monospace;
}
p.first
{
    text-align: center; 
    justify-content: center;
    margin-top:80px;
    font-size: 32px;
    font-family: Monospace;
}


.center 
{
    margin: auto;
    width: 97%;
    height: 800px;
    border: 1px solid #212529;
    text-align: center;
    background-size: 100%;
}
div.transbox {
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    height: 400px;
    margin-top:200px;
  }
.counter
{
    font-size: 70px;
    font-family: Monospace;  
}