<!DOCTYPE html>
<html land="en">
    <head>
        <title>CountDown</title>
    </head>
    <body>
        <form action="/add-event" method="POST">
            <div>
                <input type="integer" name="id" placeholder="Enter your ID">
            </div>
            <div>
                <input type="text" name="title" placeholder="Enter title of event">
            </div>
            <div>
                <input type="text" name="message" placeholder="Enter message">
            </div>
            <div>
                <input type="text" name="year" placeholder="Enter year of event">
            </div>
            <div>
                <input type="text" name="month" placeholder="Enter month of event">
            </div>
            <div>
                <input type="text" name="day" placeholder="Enter day of event">
            </div>
            <div>
                <input type="text" name="location" placeholder="Enter location">
            </div>
            <div>
                <input type="text" name="theme" placeholder="Enter theme">
            </div>
            <button type="submit">Add avent</button>
        </form>
    </body>
</html>