{% extends "layout.html" %}

{% block main %}
<form action="/add-event" method="POST" class="register">
    <div>
        <input type="integer" name="id" placeholder="ID">
    </div>
    <div>
        <input type="text" name="title" placeholder="Title">
    </div>
    <div>
        <input type="text" name="message" placeholder="Message">
    </div>
    <label for="id">Enter date of event:</label>
    <div>
        <input type="date" name="date">
    </div>
    <div>
        <input type="text" name="location" placeholder="Location">
    </div>
    <div>
        <input type="text" name="theme" placeholder="Theme">
    </div>
    <button type="submit">Add avent</button>
</form>

{% endblock %}
