{% extends "layout.html" %}

{% block main %}
<p>
    {% if rows %}
        {% for row in rows %}
            <p id="date">
                <div class="center" style='background-image: url("{{row[4]}}")'>
                    <div class="transbox">
                        <p class="first">Your {{row[0]}} is coming!!!</p>  
                        <p>Go to {{row[3]}}</p>
                        <p>{{row[1]}}</p> 
                        <p id="demo-{{loop.index}}" class="counter"></p>
                    </div>
                </div>
            <script>
                (function () {
                    // Example from: https://www.w3schools.com/howto/howto_js_countdown.asp
                    // Set the date we're counting down to
                    const countDownDate = new Date("{{row[2]}} 00:00:00").getTime();

                    // Update the count down every 1 second
                    const x = setInterval(function () {
                        // Get today's date and time
                        const now = new Date().getTime();

                        // Find the distance between now and the count down date
                        const distance = countDownDate - now;

                        // Time calculations for days, hours, minutes and seconds
                        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        // Output the result in an element with id="demo"
                        document.getElementById("demo-{{loop.index}}").innerHTML = days + "d " + hours + "h "
                            + minutes + "m " + seconds + "s ";

                        // If the count down is over, write some text 
                        if (distance < 0) {
                            clearInterval(x);
                            document.getElementById("demo-{{loop.index}}").innerHTML = "EXPIRED";
                        }
                    }, 1000);
                })();
            </script>
        {% endfor %}
    {% else %}
        <p id="hometext" class="text-center">
            Welcome to CountDown!<br> We are here to help you count time till your important<br> event whatever it may be. We all know how exciting it is to cross out<br> days from calendar and see how many days left till your dream day, your holidays, <br>flight to unexplored areas or how important this upcoming bussiness meeting is.
        </p>
    {% endif %}
</p>
<p id="demo"></p>
{% endblock %}